body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(45, 161, 255);
  font-family: 'Press Start 2P', cursive;

}

.intro {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5d7525de-b2fb-49f9-820b-23cacd4e5cb3/dd04wye-e28e4b24-da5f-4d00-bf19-f24ad3340cc3.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNWQ3NTI1ZGUtYjJmYi00OWY5LTgyMGItMjNjYWNkNGU1Y2IzXC9kZDA0d3llLWUyOGU0YjI0LWRhNWYtNGQwMC1iZjE5LWYyNGFkMzM0MGNjMy5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.6iHgdNBha8P_1wv9V952XW1jWJnWNMzRPPl9I04Zx_c);
  background-repeat: no-repeat;
  background-size: cover;
}

#introcard {
  margin-top: 25px;
  height: 70%;
  width: 70%;
  border: 3px solid white;
  background-color: rgba(7, 7, 212, 0.281);
  box-shadow: 10px 10px darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#introcard h2 {
  font-size: 40px;
  align-self: center;
  justify-content: center;
  color: white;
  text-shadow: rgb(0, 0, 0) 3px 3px 1px;
}

button {

 display: flex;
 justify-content: center;
 align-items: center;
 align-self: center;
 justify-self: center;
 width: 150px;
 height: 40px;
 font-size: 15px;
 font-family: 'Press Start 2P', cursive;
}


h1 {
  font-size: 25px;
  text-align: center;
  color: white;
  text-shadow: rgb(0, 0, 0) 3px 3px 1px;
}

.maps {

  margin-top: 3%;
  background-color: rgba(0, 162, 255, 0.281);
  box-shadow: 10px 10px darkblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
}

.playermap, .pcmap {
  height: 350px;
  width: 350px;
  margin: 25px;
  background-color: rgb(0, 255, 255);
  background-image: url(https://streak.club/img/Mix1c2VyX2NvbnRlbnQvdXBsb2Fkcy9pbWFnZS8zMjUzNi5wbmc=/600x/8kHIEB.png);
  background-size: cover;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

#turns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  font-size: 20px;
  text-align: center;
  color: white;
  text-shadow: rgb(0, 0, 0) 3px 3px 1px;
}

.mapsquare, .mapSquarePc {
  height: 30px;
  width: 30px;
  border: 1px solid rgba(255, 255, 255, 0.683);
}


.hit {
  background-image: url(https://media4.giphy.com/media/1wmdI5Nk5MjD0XIwdy/source.gif);
  background-color: rgba(30, 25, 25, 0.738);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;
}

.miss {
  background-color: gray;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d93b1022-9ff3-4a7e-93e4-e1517b86e43b/dayr3n5-7b91f173-bd67-48bb-8968-71ef8aaed681.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZDkzYjEwMjItOWZmMy00YTdlLTkzZTQtZTE1MTdiODZlNDNiXC9kYXlyM241LTdiOTFmMTczLWJkNjctNDhiYi04OTY4LTcxZWY4YWFlZDY4MS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.Qi6YUTNDywhkFKgNP-OfBy02aBCQKC9vsLEL8LexkwY);
  background-color: rgba(30, 25, 25, 0.738);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;
  
}

#boat-yard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.boatsH {
  width: 200px;
  height: 150px;
  display: flex;
  background-color: aqua;
  background-image: url(https://streak.club/img/Mix1c2VyX2NvbnRlbnQvdXBsb2Fkcy9pbWFnZS8zMjUzNi5wbmc=/600x/8kHIEB.png);
  background-size: cover;
  justify-content: space-evenly;
  align-content: space-around;
  flex-direction: column;
}

.boats {
  width: 200px;
  height: 150px;
  display: flex;
  background-color: aqua;
  background-image: url(https://streak.club/img/Mix1c2VyX2NvbnRlbnQvdXBsb2Fkcy9pbWFnZS8zMjUzNi5wbmc=/600x/8kHIEB.png);
  background-size: cover;
  justify-content: space-evenly;
  align-content: space-around;
}



.ships {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.shipsH {
  height: fit-content;
  width: fit-content;
  display: flex;
}


#Carrier div{
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 0%;
  border: none;
}

#Battleship div {
  height: 30px;
  width: 30px;
  background-color: rgb(0, 255, 0);
  border-radius: 0%;
  border: none;
}

#Cruiser div {
  height: 30px;
  width: 30px;
  background-color: yellow;
  border-radius: 0%;
  border: none;
}

#Sub div {
  height: 30px;
  width: 30px;
  background-color: rgb(255, 0, 230);
  border-radius: 0%;
  border: none;
}

#Tug div {
  height: 30px;
  width: 30px;
  background-color: rgb(93, 0, 255);
  border-radius: 0%;
  border: none;


}

  #Carrier1, #Carrier2, #Carrier3 {
  background-color: red;
  border: 1px solid red;
}

#Carrier0 {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: red;
  border: 1px solid red;
}
#Carrier4 {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: red;
  border: 1px solid red;
}

#Carrier6, #Carrier7, #Carrier8 {
  background-color: red;
  border: 1px solid red;
}
#Carrier5 {
  background-color: red;
  border: 1px solid red;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

#Carrier9 {
  background-color: red;
  border: 1px solid red;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}


 #Battleship1, #Battleship2 {
  background-color: rgb(0, 255, 0);
  border: 1px solid rgb(0, 255, 0);;
}

#Battleship0 {
  background-color: rgb(0, 255, 0);
  border: 1px solid rgb(0, 255, 0);;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

#Battleship3 {
  background-color: rgb(0, 255, 0);
  border: 1px solid rgb(0, 255, 0);;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}


#Battleship6, #Battleship7 {
  background-color: rgb(0, 255, 0);
  border: 1px solid rgb(0, 255, 0);;
}

#Battleship5 {
  background-color: rgb(0, 255, 0);
  border: 1px solid rgb(0, 255, 0);;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

#Battleship8 {
  background-color: rgb(0, 255, 0);
  border: 1px solid rgb(0, 255, 0);;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}


#Cruiser1{
  background-color: yellow;
  border: 1px solid yellow;
}

#Cruiser0{
  background-color: yellow;
  border: 1px solid yellow;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

#Cruiser2{
  background-color: yellow;
  border: 1px solid yellow;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

#Cruiser6{
  background-color: yellow;
  border: 1px solid yellow;
}

#Cruiser5{
  background-color: yellow;
  border: 1px solid yellow;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

#Cruiser7{
  background-color: yellow;
  border: 1px solid yellow;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}

 #Sub0{
  background-color: rgb(255, 0, 230);
  border: 1px solid rgb(255, 0, 230);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

#Sub1 {
  background-color: rgb(255, 0, 230);
  border: 1px solid rgb(255, 0, 230);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

#Sub5 {
  background-color: rgb(255, 0, 230);
  border: 1px solid rgb(255, 0, 230);
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

#Sub6 {
  background-color: rgb(255, 0, 230);
  border: 1px solid rgb(255, 0, 230);
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}

#Tug0 {
  background-color: rgb(93, 0, 255);
  border: 1px solid rgb(93, 0, 255); 
  border-radius: 50%;

}
#Tug5 {
  background-color: rgb(93, 0, 255);
  border: 1px solid rgb(93, 0, 255); 
  border-radius: 50%;
}

.overlay {
  background-color: darkgrey;
}

.disabled {
  display: none; 
}

.disabledtext {
  color: transparent;
  text-shadow: rgba(0, 0, 0, 0) 3px 3px 1px;
}

.win {
  margin-top: 250px;
  height: 70%;
  width: 70%;
  border: 3px solid white;
  background-color: rgba(7, 7, 212, 0.281);
  box-shadow: 10px 10px darkblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button .reset {
  margin-top: 5px;
  margin-bottom: 5px;
}

#pcBox, #playerBox {
  display: flex;
  flex-direction: column;
  flex: 1; 
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;

}

.playerSunkShips, .pcSunkShips {
  height: 70%;
  width: 70%;
  border: 3px solid white;
  background-color: rgba(7, 7, 212, 0.281);
  box-shadow: 10px 10px darkblue;
  display: flex;
  flex-direction: column;
}

.sunk {
  text-decoration: line-through;
  color: rgb(111, 3, 3);
}